*{
    font-size: 60px;
    background-image:url(ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
    background-size:cover;
}

.outerheading1{
    
    color: aliceblue;
    width: 1340px;
    height: 600px;
    text-align:left;
    text-align:justify-all
}
.heading1{
    position: absolute;
    margin-left: 30px;
    margin-top: 300px;
}
.heading2{
    font-size: 30px;
    position: absolute;
    margin-left: 30px;
    margin-top: 400px;
}